html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  color: #262626;
  font-size: 18px;
  line-height: 1.4;
  overflow-wrap: normal;
  font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}

main {
  max-width: 640px;
  margin: auto;
  padding: 2rem 2rem;
}

h1, h2, h3, h4, h5, h6 { margin-top: 3rem; }
p { margin: 1rem 0; }
li { margin: 0.4rem 0; }

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

table { width: 100%; }

table, th, td {
  border: thin solid #262626;
  border-collapse: collapse;
  padding: 0.4rem;
}

blockquote {
  border: thin dashed #262626;
  padding: 1rem;
}

blockquote>p { margin: 0; }

code {
  color: #8bac0f;
  font-family: monospace;
}

div.highlighter-rouge code {
  background: #262626;
  display: block;
  overflow-x: auto;
  white-space: pre-wrap;
  padding: 1rem;
}

a:link {text-decoration:none;color: #0000cc;}
a:visited {text-decoration:none;color: #0000cc;}
a:hover {text-decoration:underline;}
a:active {text-decoration:underline;}

.control_bar {
  padding: 2rem 0;
}

.footer {
  font-size: 14px;
  padding: 2rem 0;
}

.license {
  font-size: 14px;
}