html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: #c2c3c7;
  color:#5f574f;
  font-family: 'Noto Serif CJK SC';
  font-size: 16px;
  line-height: 1.4;
  overflow-wrap: break-word;
  margin: 0;
}

main {
  max-width: 640px;
  align-items: center;
  margin: 0 auto;
  padding: 4rem 2rem;
}

h2, h3, h4, h5, h6 { margin-top: 3rem; }
p { margin: 1rem 0; }
li { margin: 0.4rem 0; }

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

table { width: 100%; }

table, th, td {
  border: thin solid #5f574f;
  border-collapse: collapse;
  padding: 0.4rem;
}

blockquote {
  font-style: italic;
  border: thin solid #5f574f;
  padding: 1rem;
}

blockquote>p { margin: 0; }

code {
  color: #c2c3c7;
  font-family: monospace;
  background: #1d2b53;
  display: block;
  overflow-x: auto;
  white-space: pre-wrap;
  padding: 1rem;
}

a:link { color: #1d2b53 }
a:visited { color: #83769c }

.back-button:link { color: #1d2b53; }
.back-button:visited { color: #1d2b53; }

.email:link {color:#008751}
.email:visited {color: #008751;}

.pico-8 {
  color: #000000;
  color: #1d2b53;
  color: #7e2553;
  color: #008751;
  color: #ab5236;
  color: #5f574f;
  color: #c2c3c7;
  color: #fff1e8;
  color: #ff004d;
  color: #ffa300;
  color: #ffec27;
  color: #00e436;
  color: #29adff;
  color: #83769c;
  color: #ff77a8;
  color: #ffccaa;
}
