html {
  height: 100%;
}

body {
  background-color: #262626;
  color:#c2c3c7;
  min-height: 100%;
  font-family: monospace;
  font-size: 1.6rem;
  line-height: 1.4;
  overflow-wrap: break-word;
  margin: 0;
}

main {
  max-width: 840px;
  align-items: center;
  margin: 0 auto;
  padding: 4rem 2rem;
}

h2, h3, h4, h5, h6 { margin-top: 3rem; }

a:link { color: #29adff }
a:visited { color: #83769c }
.back-button:visited { color: #29adff; }

.back-button {
  align-self: flex-start;
}

.pico-8 {
  color: #000000;
  color: #1d2b53;
  color: #7e2553;
  color: #008751;
  color: #ab5236;
  color: #5f574f;
  color: #c2c3c7;
  color: #fff1e8;
  color: #ff004d;
  color: #ffa300;
  color: #ffec27;
  color: #00e436;
  color: #29adff;
  color: #83769c;
  color: #ff77a8;
  color: #ffccaa;
}