<div>
    <a href="{{ '/' | relative_url }}" class="back">返回</a>
    <span style="float: right;margin: auto;">

        {% if page.previous != nil %}
        <a href="{{ page.previous | relative_url }}">上一篇</a>
        {% else %}
        <span style="color: #888888;">已是第一篇</span>
        {% endif %}

        {% if page.next != nil %}
        <a href="{{ page.next | relative_url }}">&nbsp;&nbsp;&nbsp;下一篇</a>
        {% else %}
        <span style="color: #888888;">已是最后一篇</span>
        {% endif %}

    </span>
</div>