<div>
    <a href="{{ '/' | relative_url }}" class="back">返回</a>
    <span style="float: right;margin: auto;">

        {% if page.previous != nil %}
        <a href="{{ page.previous | relative_url }}">前一篇</a>
        {% else %}
        <span style="color: #888888;">已到最前</span>
        {% endif %}
        &nbsp;&nbsp;&nbsp;
        {% if page.next != nil %}
        <a href="{{ page.next | relative_url }}">后一篇</a>
        {% else %}
        <span style="color: #888888;">已到最后</span>
        {% endif %}

    </span>
</div>